<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签导航</title>
</head>
<body>
  <h1>vue</h1>
  <ul>
    <li>
      <span>vue 3 英文</span> <a href="https://vuejs.org/">https://vuejs.org/</a>
    </li>
    <li>
      <span>vue 3 中文</span> <a href="https://cn.vuejs.org/">https://cn.vuejs.org/</a>
    </li>
  </ul>
</body>
</html>